# ======================================
# Python
# ======================================

venv/
.venv/
__pycache__/
*.py[cod]

# ======================================
# Jupyter
# ======================================

.ipynb_checkpoints/

# ======================================
# Dataset
# ======================================

datasets/raw/
datasets/processed/
datasets/interim/

# ======================================
# Model Weights
# ======================================

*.pth
*.pt
*.ckpt
*.onnx

checkpoints/
weights/

# ======================================
# Results
# ======================================

results/
logs/
runs/
wandb/
tensorboard/

# ======================================
# Environment
# ======================================

.env
.env.*

# ======================================
# IDE
# ======================================

.vscode/
.idea/

# ======================================
# Operating System
# ======================================

.DS_Store
Thumbs.db

# ======================================
# Large PDFs (optional)
# ======================================

papers/*.pdf